.text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* styles.css или ваш стиль в CSS-in-JS */

.about-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-enter-active {
  opacity: 1;
  transform: translateY(0);
}


/* Фоновая радиальная градиентная заливка */
.background-radial-gradient {
  background-color: hsl(6, 96%, 52%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(6, 96%, 72%) 15%, /* Изменено значение */
      hsl(6, 96%, 67%) 35%, /* Изменено значение */
      hsl(6, 96%, 57%) 75%, /* Изменено значение */
      hsl(6, 96%, 56%) 80%, /* Изменено значение */
      transparent 100%),
  radial-gradient(1250px circle at 100% 100%,
      hsl(6, 96%, 82%) 15%, /* Изменено значение */
      hsl(6, 96%, 67%) 35%, /* Изменено значение */
      hsl(6, 96%, 57%) 75%, /* Изменено значение */
      hsl(6, 96%, 56%) 80%, /* Изменено значение */
      transparent 100%);
  border-radius: 20px;
}
